# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
#JDK动态代理生成的代理类
$Proxy0.class
out
gen
Singleton/src/chocolate/
